# Python bytecode
__pycache__/
*.py[cod]

# Git and VCS
.git/
.gitignore
.github

# Virtualenv
venv/
env/
ENV/

# Local dev settings
.env
*.sqlite3

# IDE/project files
.vscode/
.idea/

# MacOS/Windows artifacts
.DS_Store
Thumbs.db

# Dockerfiles that aren't needed in prod
Dockerfile.dev
docker-compose.override.yml

# Github Actions keys
deploy_key_cicd
deploy_key_cicd.pub